{{ define "main" }}
<div class="banner-img mb-0">
  <img src="{{ "/images/tomhai.svg" | relURL }}" alt="Banner Image" class="w-full max-h-[400px] mx-auto">
</div> 
<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-8">
        <!-- Prominent Meta Block for Location and Date -->
        <div class="meta-title mb-8">
          {{ with .Params.location }}
            <div class="text-4xl text-black font-bold">Location: {{ . }}</div>
          {{ end }}
          {{ with .Params.datum }}
            <div class="text-4xl text-black font-bold">Date: {{ . | dateFormat "Jan 2, 2006" }}</div>
          {{ end }}
        </div>
        <div class="content" style="text-align: justify;">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}